/* @import url(fonts/iosevka.css); */

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('fonts/ttf/iosevka-extended.ttf') format('truetype'), url('fonts/woff2/iosevka-extended.woff2') format('woff2');
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Iosevka Web;
    font-stretch: expanded;
}

:root {
    --color-grey-base: 0 0%;
    --color-blue-base: 220 50%;

    --color-grey-075: hsl(var(--color-grey-base) 75%);
    --color-grey-050: hsl(var(--color-grey-base) 50%);
    --color-grey-025: hsl(var(--color-grey-base) 25%);
    --color-grey-000: hsl(var(--color-grey-base) 0%);

    --color-blue-085: hsl(var(--color-blue-base) 85%);
    --color-blue-075: hsl(var(--color-blue-base) 75%);
    --color-blue-050: hsl(var(--color-blue-base) 50%);

    background-color: var(--color-grey-000);
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
}

.main-content {
    color: white;
    width: 100%;
    height: calc(100% - 4rem - 9px);
}

.main-header {
    padding: 0 1rem;
    border-bottom: solid 1px var(--color-grey-025);
}

.main-header-nav-list li a {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: var(--color-blue-075);
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.main-header-nav-list li a:hover {
    color: var(--color-blue-085);
}


.main-header-nav-list li a::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-blue-085);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.main-header-nav-list li a:hover::after {
    transform: scale(1);
    transform-origin: center;

}

.main-header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
    list-style: none;
}

.main-header-nav-list li {
    text-align: center;
}

@media screen and (max-width:768px) {
    .main-header-nav-list {
        flex-wrap: wrap;
    }
    .main-header-nav-list li {
        flex: 1 1 50%;
    }
}

@media screen and (max-width:480px) {
    .main-header-nav-list {
        flex-wrap: wrap;
    }
    .main-header-nav-list li {
        flex-basis: 100%;
    }
}
